body {
  background-color: #F2F5F7;
  color: #212B36;
  font-family: -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI,
    Roboto, Helvetica Neue, sans-serif;
  text-align: center;
}

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

.illustration {
  display: block;
  margin-top: 20px;
}

.appstorebadge {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 50%
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%
}

.pages {
  margin-left: auto;
  margin-right: auto;
  line-height: 1.8;
  display: table;
  text-align: left;
  list-style-position: inside;
}

.row {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 30px;
}

.column {
  flex: 50%;
}

h1.column {
  color: #212B36;
  text-align: center;
  padding-top: 20px;

}

.terms  {
  padding: 50px;
  text-align: left;
}
