---
title: Instant Info Pages
menu: home
---

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-lg-flex flex-lg-column justify-content-center align-items-stretch pt-5 pt-lg-0 order-2 order-lg-1" data-aos="fade-up">
        <div>
          <h1>Instant Info Pages</h1>
          <h2>The easiest way to create must-have info pages for your store</h2>
          <div class="row features">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">About Us Page</li>
              <li class="list-group-item">Frequently Asked Questions</li>
              <li class="list-group-item">Shipping Policy <span class="badge badge-primary badge-pill">coming soon</span></li>
              <li class="list-group-item">Return Policy <span class="badge badge-primary badge-pill">coming soon</span></li>
              <li class="list-group-item">COVID-19 FAQ + Banner <span class="badge badge-primary badge-pill">NEW</span></li>
            </ul>
          </div>
          <a href="https://app.instantpagebuilder.net" target="_blank"><img src="/images/Shopify-App-Store-Badge.png" alt="insantinfopages" width="200"></a>
        </div>
      </div>
      <div class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-2 hero-img" data-aos="fade-up">
        <img src="images/ilustra.png" class="img-fluid" alt="insantinfopagesillustration">
      </div>
    </div>
  </div>

</section><!-- End Hero -->