---
title: Instant Info Pages
---

<div class="row">
  <div class="column"
    <h1>
      Instant Info Pages
    </h1>

        <p>The easiest way to create must-have info pages for your store</p>
          <div class=pages>
              <ul>
                <li>About Us Page</li>
                <li>Frequently Asked Questions</li>
                <li>Shipping Policy (coming soon)</li>
                <li>Return Policy (coming soon)</li>
                <li>COVID-19 FAQ +Banner (NEW)</li>
              </ul>
          </div>

      <div class="appstorebadge">
          <img src="images/Shopify-App-Store-Badge.png" alt="insantinfopages" width="200">
      </div>
  </div>

  <div class="column"
    <div class=illustration>
        <img src="images/ilustra.png" alt="insantinfopages">
    </div>
  </div>

  <div class="row">
    <div class="center">
    <p style="text-align: center;"><a href=/>Privacy</a></p>
    </div>
  </div>
